{
    "openapi": "3.0.0",
    "info": {
        "title": "API Contratos.gov.br",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://contratos.comprasnet.gov.br",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/contrato/instrumento_cobranca/apropriar": {
            "post": {
                "tags": [
                    "Apropriação"
                ],
                "summary": "Apropria instrumento de cobrança",
                "operationId": "2e88ce35a4f93ddd2a59fa75e1d7a6c2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nonce",
                                    "id_inst_cobranca",
                                    "cpf_usuario",
                                    "tipo_dh",
                                    "cod_ug_emitente",
                                    "data_emissao_contabil",
                                    "data_vencimento",
                                    "taxa_cambio",
                                    "processo",
                                    "data_ateste",
                                    "observacao",
                                    "informacoes_adicionais",
                                    "sf_pco",
                                    "data_pagamento",
                                    "sf_centro_custo",
                                    "favorecido_ob",
                                    "deducao",
                                    "predoc_ob"
                                ],
                                "properties": {
                                    "nonce": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "03PsaasdasdaddasfssaaatdffaasssddaaddsfsdadfadaddsddfsfddAaaaassdssdssAaqsdFfagF"
                                    },
                                    "id_inst_cobranca": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            205
                                        ]
                                    },
                                    "cpf_usuario": {
                                        "description": "CPF do usuário",
                                        "type": "string",
                                        "maxLength": 11,
                                        "example": "700.744.021-53"
                                    },
                                    "tipo_dh": {
                                        "type": "string",
                                        "example": "NP"
                                    },
                                    "cod_ug_emitente": {
                                        "type": "integer",
                                        "example": 200999
                                    },
                                    "data_emissao_contabil": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-01-27"
                                    },
                                    "data_vencimento": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-02-15"
                                    },
                                    "taxa_cambio": {
                                        "type": "number",
                                        "example": 5.3
                                    },
                                    "processo": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "00001.000000/0000-00"
                                    },
                                    "data_ateste": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-01-27"
                                    },
                                    "observacao": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 468,
                                        "example": "Observação curta válida."
                                    },
                                    "informacoes_adicionais": {
                                        "type": "string",
                                        "maxLength": 500,
                                        "example": "Informações extras sobre o processo e as condições do pagamento."
                                    },
                                    "favorecido_ob": {
                                        "description": "CPF do favorecido",
                                        "type": "string",
                                        "example": "000.000.000-00"
                                    },
                                    "sf_pco": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "cod_ug_emitente": {
                                                    "type": "integer",
                                                    "example": 200999
                                                },
                                                "cod_situacao": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "DSP001"
                                                },
                                                "indicador_contrato": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "despesa_antecipada": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "txtinscrd": {
                                                    "nullable": true,
                                                    "type": "string",
                                                    "maxLength": 500,
                                                    "example": "1234"
                                                },
                                                "numclassd": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 812314501
                                                },
                                                "txtinscre": {
                                                    "nullable": true,
                                                    "type": "string",
                                                    "maxLength": 500,
                                                    "example": "12345567"
                                                },
                                                "numclasse": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 67
                                                },
                                                "parcela_despesa_antecipada": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "data_agendamento": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2025-01-27"
                                                            },
                                                            "valor": {
                                                                "type": "number",
                                                                "example": 1000.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "sf_pco_item": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "numero_empenho": {
                                                                "type": "string",
                                                                "maxLength": 255,
                                                                "example": "1234NE000001"
                                                            },
                                                            "relacionamento_deducao": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "subelemento": {
                                                                "type": "integer",
                                                                "example": 3008
                                                            },
                                                            "indicador_liquidado": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "valor_item": {
                                                                "type": "number",
                                                                "example": 500.75
                                                            },
                                                            "txtinscra": {
                                                                "nullable": true,
                                                                "type": "string",
                                                                "maxLength": 500,
                                                                "example": "234234234"
                                                            },
                                                            "numclassa": {
                                                                "nullable": true,
                                                                "type": "integer",
                                                                "example": 332311100
                                                            },
                                                            "txtinscrb": {
                                                                "nullable": true,
                                                                "type": "string",
                                                                "maxLength": 500,
                                                                "example": "213111100"
                                                            },
                                                            "numclassb": {
                                                                "nullable": true,
                                                                "type": "integer",
                                                                "example": 213002100
                                                            },
                                                            "txtinscrc": {
                                                                "nullable": true,
                                                                "type": "string",
                                                                "maxLength": 500,
                                                                "example": "412314123"
                                                            },
                                                            "numclassc": {
                                                                "nullable": true,
                                                                "type": "integer",
                                                                "example": 119111100
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "data_pagamento": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-01-30"
                                    },
                                    "sf_centro_custo": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "cod_centro_custo": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "0001"
                                                },
                                                "mes": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "ano": {
                                                    "type": "integer",
                                                    "example": 2025
                                                },
                                                "codigo_siorg": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 12345
                                                },
                                                "ug_beneficiada": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 654321
                                                },
                                                "item_vlrcc": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "cod_situacao": {
                                                                "type": "string",
                                                                "maxLength": 255,
                                                                "example": "DDF021"
                                                            },
                                                            "numero_empenho": {
                                                                "type": "string",
                                                                "maxLength": 255,
                                                                "example": "1234NE000001"
                                                            },
                                                            "valor_item": {
                                                                "type": "number",
                                                                "example": 500
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "deducao": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "cod_situacao_deducao": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "DDR001"
                                                },
                                                "data_vencimento_deducao": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2026-10-28"
                                                },
                                                "data_pagamento_deducao": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2026-01-30"
                                                },
                                                "cod_ug_pagadora_deducao": {
                                                    "type": "integer",
                                                    "example": 123456
                                                },
                                                "valor_deducao": {
                                                    "type": "number",
                                                    "example": 500
                                                },
                                                "municipio_deducao": {
                                                    "type": "integer",
                                                    "example": 64578
                                                },
                                                "txtInscrA": {
                                                    "nullable": true,
                                                    "description": "Obrigatório para DDF e DDR001.",
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Texto opcional para txtInscrA."
                                                },
                                                "txtInscrB": {
                                                    "nullable": true,
                                                    "description": "Obrigatório para DDF025.",
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Texto opcional para txtInscrB."
                                                },
                                                "numClassA": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 342423200
                                                },
                                                "numClassB": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "recolhimento": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "recolhedor": {
                                                                "type": "string",
                                                                "maxLength": 255,
                                                                "example": "Recolhedor123"
                                                            },
                                                            "base_calculo_recolhimento": {
                                                                "description": "Opcional",
                                                                "type": "number",
                                                                "example": 1000
                                                            },
                                                            "porcentagem_recolhimento": {
                                                                "description": "opcional.",
                                                                "type": "number",
                                                                "example": 10
                                                            },
                                                            "multa_recolhimento": {
                                                                "nullable": true,
                                                                "type": "number",
                                                                "example": 50
                                                            },
                                                            "juros_recolhimento": {
                                                                "nullable": true,
                                                                "type": "number",
                                                                "example": 5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "acrescimo": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "tipo_acrescimo": {
                                                    "type": "string",
                                                    "maxLength": 1,
                                                    "example": "M"
                                                },
                                                "numero_empenho_acrescimo": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "1234NE000001"
                                                },
                                                "subelemento_empenho_acrescimo": {
                                                    "type": "integer",
                                                    "example": 16
                                                },
                                                "numclassa": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 342431300
                                                },
                                                "valor_acrescimo": {
                                                    "type": "integer",
                                                    "example": 11
                                                },
                                                "codigo_municipio": {
                                                    "type": "integer",
                                                    "example": 1234
                                                },
                                                "codigo_receita": {
                                                    "type": "integer",
                                                    "example": 4321
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "relacionamento": {
                                        "description": "Relacionamento da dedução com empenho do pco",
                                        "properties": {
                                            "numero_empenho": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "example": "2023NE000000"
                                            },
                                            "subelemento": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "example": "02"
                                            },
                                            "cod_situacao": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "example": "DSP001"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "predoc": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "tipo_darf_predoc": {
                                                    "description": "Obrigatório para DDF.",
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "DFS, DFD, DFN"
                                                },
                                                "recurso_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "1"
                                                },
                                                "periodo_apuracao_predoc": {
                                                    "description": "Obrigatório para DDF.",
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-01-27"
                                                },
                                                "processo_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "00001.000000/0000-00"
                                                },
                                                "vinculacao_predoc": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "mes_referencia_predoc": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "ano_referencia_predoc": {
                                                    "type": "integer",
                                                    "example": 2025
                                                },
                                                "cod_ug_pagadora_predoc": {
                                                    "type": "integer",
                                                    "example": 123456
                                                },
                                                "municipio_predoc": {
                                                    "type": "integer",
                                                    "example": 64578
                                                },
                                                "numero_recibo_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "REC123456789"
                                                },
                                                "data_emissao_predoc": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-01-27"
                                                },
                                                "serie_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Série A"
                                                },
                                                "subserie_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Sub-série A"
                                                },
                                                "aliquota_predoc": {
                                                    "type": "number",
                                                    "example": 5.5
                                                },
                                                "valor_predoc": {
                                                    "type": "number",
                                                    "example": 1000.5
                                                },
                                                "observacao_predoc": {
                                                    "type": "string",
                                                    "maxLength": 500,
                                                    "example": "Observação importante sobre o predoc."
                                                },
                                                "codigo_ug_tomador_servico": {
                                                    "type": "integer",
                                                    "example": 205
                                                },
                                                "numero_nota_fiscal": {
                                                    "type": "integer",
                                                    "example": 87654
                                                },
                                                "valor_receita_bruta_acumulada": {
                                                    "type": "number",
                                                    "example": 30500.3
                                                },
                                                "valor_percentual": {
                                                    "type": "number",
                                                    "example": 10.25
                                                },
                                                "numero_codigo_barras": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "12345678901234567890"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "predoc_ob": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "tipo_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "OBA"
                                                },
                                                "conta_pagador_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "000001"
                                                },
                                                "agencia_pagador_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "00000"
                                                },
                                                "banco_pagador_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "001"
                                                },
                                                "conta_favorecido_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "3333333"
                                                },
                                                "agencia_favorecido_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "3333"
                                                },
                                                "banco_favorecido_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "333"
                                                },
                                                "processo_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "00001.000000/0000-00"
                                                },
                                                "taxacambio_ob": {
                                                    "type": "number",
                                                    "example": 5.3
                                                },
                                                "nr_lista_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "2023NE000001"
                                                },
                                                "cit_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "CIT da ordem"
                                                },
                                                "observacao_ob": {
                                                    "type": "string",
                                                    "maxLength": 500,
                                                    "example": "Observação opcional válida."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Solicitação de apropriação enviada com sucesso e está sendo processada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Apropriacao": {
                                            "properties": {
                                                "id_apropriacao_inst_cobranca": {
                                                    "type": "integer",
                                                    "example": "000"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "Success"
                                                },
                                                "mensagem": {
                                                    "type": "string",
                                                    "example": "Solicitação de apropriação enviada com sucesso e está sendo processada"
                                                },
                                                "situacao": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sem permissão",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/contrato/apropriacao/editar": {
            "put": {
                "tags": [
                    "Apropriação"
                ],
                "summary": "Edita apropriação de instrumento de cobrança",
                "operationId": "b55288f4264841091ffba73c269c9b37",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nonce",
                                    "id_inst_cobranca",
                                    "cpf_usuario",
                                    "tipo_dh",
                                    "cod_ug_emitente",
                                    "data_emissao_contabil",
                                    "data_vencimento",
                                    "taxa_cambio",
                                    "processo",
                                    "data_ateste",
                                    "observacao",
                                    "informacoes_adicionais",
                                    "sf_pco",
                                    "data_pagamento",
                                    "sf_centro_custo",
                                    "favorecido_ob",
                                    "deducao",
                                    "predoc_ob"
                                ],
                                "properties": {
                                    "nonce": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "03Psaasdasdaddasfssaadfaasfsdddeaadgdda5adfAaadfadgysDgsdddfsfddAaGsdqddDsfssAsSfsSsaAdadrFfF"
                                    },
                                    "id_inst_cobranca": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            205
                                        ]
                                    },
                                    "id_apropriacao_inst_cobranca": {
                                        "type": "integer",
                                        "example": 624
                                    },
                                    "cpf_usuario": {
                                        "description": "CPF do usuário",
                                        "type": "string",
                                        "maxLength": 11,
                                        "example": "700.744.021-53"
                                    },
                                    "tipo_dh": {
                                        "type": "string",
                                        "example": "NP"
                                    },
                                    "cod_ug_emitente": {
                                        "type": "integer",
                                        "example": 200999
                                    },
                                    "data_emissao_contabil": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-01-27"
                                    },
                                    "data_vencimento": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-02-15"
                                    },
                                    "taxa_cambio": {
                                        "type": "number",
                                        "example": 5.3
                                    },
                                    "processo": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "00001.000000/0000-80"
                                    },
                                    "data_ateste": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-01-27"
                                    },
                                    "observacao": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 468,
                                        "example": "Observação curta válida ASDF."
                                    },
                                    "informacoes_adicionais": {
                                        "type": "string",
                                        "maxLength": 500,
                                        "example": "Informações extras sobre o processo e as condições do pagamento."
                                    },
                                    "favorecido_ob": {
                                        "description": "CPF do favorecido",
                                        "type": "string",
                                        "example": "000.000.000-00"
                                    },
                                    "sf_pco": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "cod_ug_emitente": {
                                                    "type": "integer",
                                                    "example": 200999
                                                },
                                                "cod_situacao": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "DSP001"
                                                },
                                                "indicador_contrato": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "despesa_antecipada": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "txtinscrd": {
                                                    "nullable": true,
                                                    "type": "string",
                                                    "maxLength": 500,
                                                    "example": "1234"
                                                },
                                                "numclassd": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 812314501
                                                },
                                                "txtinscre": {
                                                    "nullable": true,
                                                    "type": "string",
                                                    "maxLength": 500,
                                                    "example": "12345567"
                                                },
                                                "numclasse": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 67
                                                },
                                                "parcela_despesa_antecipada": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "data_agendamento": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2025-01-27"
                                                            },
                                                            "valor": {
                                                                "type": "number",
                                                                "example": 1000.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "sf_pco_item": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "numero_empenho": {
                                                                "type": "string",
                                                                "maxLength": 255,
                                                                "example": "1234NE000001"
                                                            },
                                                            "relacionamento_deducao": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "subelemento": {
                                                                "type": "integer",
                                                                "example": 3008
                                                            },
                                                            "indicador_liquidado": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "valor_item": {
                                                                "type": "number",
                                                                "example": 500.75
                                                            },
                                                            "txtinscra": {
                                                                "nullable": true,
                                                                "type": "string",
                                                                "maxLength": 500,
                                                                "example": "234234234"
                                                            },
                                                            "numclassa": {
                                                                "nullable": true,
                                                                "type": "integer",
                                                                "example": 332311100
                                                            },
                                                            "txtinscrb": {
                                                                "nullable": true,
                                                                "type": "string",
                                                                "maxLength": 500,
                                                                "example": "213111100"
                                                            },
                                                            "numclassb": {
                                                                "nullable": true,
                                                                "type": "integer",
                                                                "example": 213002100
                                                            },
                                                            "txtinscrc": {
                                                                "nullable": true,
                                                                "type": "string",
                                                                "maxLength": 500,
                                                                "example": "412314123"
                                                            },
                                                            "numclassc": {
                                                                "nullable": true,
                                                                "type": "integer",
                                                                "example": 119111100
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "data_pagamento": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-01-30"
                                    },
                                    "sf_centro_custo": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "cod_centro_custo": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "0001"
                                                },
                                                "mes": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "ano": {
                                                    "type": "integer",
                                                    "example": 2025
                                                },
                                                "codigo_siorg": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 12345
                                                },
                                                "ug_beneficiada": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 654321
                                                },
                                                "item_vlrcc": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "cod_situacao": {
                                                                "type": "string",
                                                                "maxLength": 255,
                                                                "example": "DDF021"
                                                            },
                                                            "numero_empenho": {
                                                                "type": "string",
                                                                "maxLength": 255,
                                                                "example": "1234NE000001"
                                                            },
                                                            "valor_item": {
                                                                "type": "number",
                                                                "example": 500
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "deducao": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "cod_situacao_deducao": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "DDR001"
                                                },
                                                "data_vencimento_deducao": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2026-10-28"
                                                },
                                                "data_pagamento_deducao": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2026-01-30"
                                                },
                                                "cod_ug_pagadora_deducao": {
                                                    "type": "integer",
                                                    "example": 123456
                                                },
                                                "valor_deducao": {
                                                    "type": "number",
                                                    "example": 500
                                                },
                                                "municipio_deducao": {
                                                    "type": "integer",
                                                    "example": 64578
                                                },
                                                "txtInscrA": {
                                                    "nullable": true,
                                                    "description": "Obrigatório para DDF e DDR001.",
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Texto opcional para txtInscrA."
                                                },
                                                "txtInscrB": {
                                                    "nullable": true,
                                                    "description": "Obrigatório para DDF025.",
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Texto opcional para txtInscrB."
                                                },
                                                "numClassA": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 342419900
                                                },
                                                "numClassB": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "recolhimento": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "recolhedor": {
                                                                "type": "string",
                                                                "maxLength": 255,
                                                                "example": "Recolhedor123"
                                                            },
                                                            "base_calculo_recolhimento": {
                                                                "description": "Opcional",
                                                                "type": "number",
                                                                "example": 1000
                                                            },
                                                            "porcentagem_recolhimento": {
                                                                "description": "opcional",
                                                                "type": "number",
                                                                "example": 10
                                                            },
                                                            "multa_recolhimento": {
                                                                "nullable": true,
                                                                "type": "number",
                                                                "example": 50
                                                            },
                                                            "juros_recolhimento": {
                                                                "nullable": true,
                                                                "type": "number",
                                                                "example": 5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "acrescimo": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "tipo_acrescimo": {
                                                    "type": "string",
                                                    "maxLength": 1,
                                                    "example": "M"
                                                },
                                                "numero_empenho_acrescimo": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "1234NE000001"
                                                },
                                                "subelemento_empenho_acrescimo": {
                                                    "type": "integer",
                                                    "example": 16
                                                },
                                                "numclassa": {
                                                    "nullable": true,
                                                    "type": "integer",
                                                    "example": 342413400
                                                },
                                                "valor_acrescimo": {
                                                    "type": "integer",
                                                    "example": 11
                                                },
                                                "codigo_municipio": {
                                                    "type": "integer",
                                                    "example": 1234
                                                },
                                                "codigo_receita": {
                                                    "type": "integer",
                                                    "example": 4321
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "relacionamento": {
                                        "description": "Relacionamento da dedução com empenho do pco",
                                        "properties": {
                                            "numero_empenho": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "example": "2023NE000000"
                                            },
                                            "subelemento": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "example": "02"
                                            },
                                            "cod_situacao": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "example": "DSP001"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "predoc": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "tipo_darf_predoc": {
                                                    "description": "Obrigatório para DDF.",
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "DFS, DFD, DFN"
                                                },
                                                "recurso_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "1"
                                                },
                                                "periodo_apuracao_predoc": {
                                                    "description": "Obrigatório para DDF.",
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-01-27"
                                                },
                                                "processo_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "00001.000000/0000-01"
                                                },
                                                "vinculacao_predoc": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "mes_referencia_predoc": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "ano_referencia_predoc": {
                                                    "type": "integer",
                                                    "example": 2025
                                                },
                                                "cod_ug_pagadora_predoc": {
                                                    "type": "integer",
                                                    "example": 123456
                                                },
                                                "municipio_predoc": {
                                                    "type": "integer",
                                                    "example": 64578
                                                },
                                                "numero_recibo_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "REC123456789"
                                                },
                                                "data_emissao_predoc": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2025-01-27"
                                                },
                                                "serie_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Série A"
                                                },
                                                "subserie_predoc": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Sub-série A"
                                                },
                                                "aliquota_predoc": {
                                                    "type": "number",
                                                    "example": 5.5
                                                },
                                                "valor_predoc": {
                                                    "type": "number",
                                                    "example": 1000.5
                                                },
                                                "observacao_predoc": {
                                                    "type": "string",
                                                    "maxLength": 500,
                                                    "example": "Observação importante sobre o predoc. BBB"
                                                },
                                                "codigo_ug_tomador_servico": {
                                                    "type": "integer",
                                                    "example": 205
                                                },
                                                "numero_nota_fiscal": {
                                                    "type": "integer",
                                                    "example": 87654
                                                },
                                                "valor_receita_bruta_acumulada": {
                                                    "type": "number",
                                                    "example": 30500.3
                                                },
                                                "valor_percentual": {
                                                    "type": "number",
                                                    "example": 10.25
                                                },
                                                "numero_codigo_barras": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "12345678901234567890"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "predoc_ob": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "tipo_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "OBA"
                                                },
                                                "conta_pagador_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "000090"
                                                },
                                                "agencia_pagador_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "00090"
                                                },
                                                "banco_pagador_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "001"
                                                },
                                                "conta_favorecido_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "3333390"
                                                },
                                                "agencia_favorecido_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "3390"
                                                },
                                                "banco_favorecido_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "390"
                                                },
                                                "processo_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "00001.000000/0000-90"
                                                },
                                                "taxacambio_ob": {
                                                    "type": "number",
                                                    "example": 90
                                                },
                                                "nr_lista_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "2023NE000001"
                                                },
                                                "cit_ob": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "CIT da ordem NOVO"
                                                },
                                                "observacao_ob": {
                                                    "type": "string",
                                                    "maxLength": 500,
                                                    "example": "Observação opcional válida NOVA."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Solicitação de edição de apropriação enviada com sucesso e está sendo processada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Apropriacao": {
                                            "properties": {
                                                "id_apropriacao_inst_cobranca": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "mensagem": {
                                                    "type": "string"
                                                },
                                                "situacao": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sem permissão",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/contrato/apropriacao/excluir": {
            "delete": {
                "tags": [
                    "Apropriação"
                ],
                "summary": "Excluir apropriação",
                "description": "Endpoint para excluir apropriação que ainda não foi enviada para o SIAFI",
                "operationId": "excluirApropriacao",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nonce": {
                                        "type": "string"
                                    },
                                    "id_apropriacao_inst_cobranca": {
                                        "description": "ID da apropriação a ser excluída",
                                        "type": "integer"
                                    },
                                    "cpf_usuario": {
                                        "description": "CPF do usuário",
                                        "type": "string",
                                        "maxLength": 11
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Apropriação excluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Apropriação excluída com sucesso."
                                        },
                                        "id_apropriacao_inst_cobranca": {
                                            "type": "integer",
                                            "example": 111111
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Erro de permissão",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Usuário sem permissão no sistema."
                                        },
                                        "id_apropriacao_inst_cobranca": {
                                            "type": "integer",
                                            "example": 111111
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Apropriação não encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Apropriação não encontrada."
                                        },
                                        "id_apropriacao_inst_cobranca": {
                                            "type": "integer",
                                            "example": 111111
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno do servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Erro interno do servidor."
                                        },
                                        "id_apropriacao_inst_cobranca": {
                                            "type": "integer",
                                            "example": 111111
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/contrato/apropriacao/cancelar": {
            "put": {
                "tags": [
                    "Apropriação"
                ],
                "summary": "Cancela apropriação",
                "operationId": "cancelaApropriacao",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nonce": {
                                        "description": "Valor único para garantir a não duplicação da requisição.",
                                        "type": "string"
                                    },
                                    "id_apropriacao_inst_cobranca": {
                                        "description": "ID da apropriação a ser cancelada",
                                        "type": "integer"
                                    },
                                    "cpf_usuario": {
                                        "description": "CPF do usuário",
                                        "type": "string",
                                        "maxLength": 11
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Apropriação cancelada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Apropriação cancelada com sucesso."
                                        },
                                        "id_apropriacao_inst_cobranca": {
                                            "type": "integer",
                                            "example": 123
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Usuário sem permissão no sistema ou no contrato",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Usuário sem permissão no sistema."
                                        },
                                        "id_apropriacao_inst_cobranca": {
                                            "type": "integer",
                                            "example": 123
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Apropriação não encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Apropriação não encontrada."
                                        },
                                        "id_apropriacao_inst_cobranca": {
                                            "type": "integer",
                                            "example": 123
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno do servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Erro interno do servidor. - Mensagem de erro"
                                        },
                                        "id_apropriacao_inst_cobranca": {
                                            "type": "integer",
                                            "example": 123
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/contrato/apropriacao/consultar/{contrato_id}": {
            "get": {
                "tags": [
                    "Apropriação"
                ],
[...]
